#loading{
	position: fixed;
	float: left;
	width: 100%;
    height: 100%;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    margin-right: 50%;
	z-index: 1033;
	overflow: visible;
	background: white url(/assets/images/gif/loading.gif) no-repeat center center;
}

.input-error {border: 1px solid red !important;}

.toast {position: absolute; z-index: 30; opacity: 1; top: 15vh;}

/* .toast.toast-center { top: 9vh; left: 43vw; } */

.active {color: #19d895 !important;} /* background-color: #27339a; */
.footer {width: 100%; bottom: 0; position: fixed;}
.sidebar {position: fixed;}
.main-panel {margin-left: 270px;} 
.bg-indigo {background-color: #4f64f3;}

.label-parent{font-size: 18px !important;}
.label-child{padding-left: 10px;}
.label-child::before{ content: '-- '; }
.div-parent{margin-top: 48px;}
.required::before{content: "* "; color: red;}
.error-input { border: 1px solid orangered !important;}
.alert-primary-custome {color: white !important; background-color: #5161bd !important;border-color: #ffffff !important;}
.text-white-custome {color: white !important;}
.div-child{padding-top: 10px;}

.parent-mdi {position: relative !important;}
.eye-mdi {position: absolute !important;top: 4px;right: 20px;cursor: pointer;}
.dropdown-menu .dropdown-item:hover { background-color: #2196f3 !important; color: white !important;}
.hover-pointer:hover.plus { cursor: pointer; color: #19d895; }
.hover-pointer:hover.minus { cursor: pointer; color: rgb(233, 24, 24); }
.hover-pointer:hover { cursor: pointer; }
.w-full { width: 100%; }

/* overlay */

.overlay {
	transition-timing-function: ease;
    align-items: center;
    justify-content: center;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.video-convert {
	position: fixed;
    z-index: 3;
    width: 50vw;
    height: 30vw;
}

/* - */
/* .dropdown-menu {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}
.dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;} */

.middle-set {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    background-color: #4f64f3a6;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-galery i {
    position: absolute;
    opacity: 0;
    top: 33%;
    left: 43%;
}

.image-galery img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image-galery:hover i {
    opacity: 1;
}

.image-galery:hover .middle-set {
    opacity: 1;
}


